/*
    Elise Saxon
    CS342: Web Scripting
    Due Oct 20, 2017

    Pie website: A multiple-file site formatted based on Homework #1
    specifications. Practice for basic HTML and CSS concepts.
    This file styles pie.html based on certain specifications in
    Homework #1.
*/

body {
    background-image: url("silverware.jpg");
}

h1, h2 {
    color: rgb(164,164,0);
    background-color: rgb(240,240,240);
    text-decoration: underline;
    font-family: Lucida Sans Unicode, Helvetica, Arial, sans-serif;
}

h1 {
    text-align: center;
    font-size: 22pt;
    font-weight: bold;
}

h2 {
    text-align: left;
    font-size: 18pt;
}

p {
    color: #404040;
    font-family: Georgia, Garamond, serif;
    font-size: 11pt;
}

a {
    color: rgb(164,164,0);
    font-family: Georgia, Garamond, serif;
    font-size: 11pt;
}

ul {
    list-style-image: url(pie_bullet.png);
}

.tip .tipText {
  visibility: hidden;
  background-color: #c9ced6;
  color: black;
  text-align: center;
  border-radius: 4px;
  padding: 5px 4px;
  position: absolute;
  z-index: 1;
  bottom: 100%;
  left: 50%;
  margin-left: -60px;
}

.tip {
  position: relative;
  display: inline-block;
  border-bottom: 1px dotted black;
}

.tip:hover .tipText {
  visibility: visible;
}

.bottomLine {
  border-bottom: 1px solid gray;
  padding-bottom: 5px;
}

.quotes {
    color: #404040;
    background-color: rgb(255,255,168);
    font-style: italic;
    margin-left: 1cm;
    margin-right: 1cm;
    margin-bottom: 0.5cm;
}

#copyright {
    color: #404040;
    font-family: monospace;
    text-align: right;
    float: left;
}

#copyrightText {
    font-family: monospace;
}

#CSSbuttons {
    clear: left;
}
