<!DOCTYPE html>
<html>
<head>
<style>

body {
    background-color: blue;
    background-image: url("/silverware.jpg");
}

h1 {
    color: rgb(164,164,0);
    background-color: rgb(240,240,240);
    text-align: center;
    text-decoration: underline;
    font-family: Lucida Sans Unicode, Helvetica, Arial, sans-serif;
    font-size: 22pt;
    font-weight: bold;
}

h2 {
    color: rgb(164,164,0);
    background-color: rgb(240,240,240);
    text-align: left;
    text-decoration: underline;
    font-family: Lucida Sans Unicode, Helvetica, Arial, sans-serif;
    font-size: 18pt;
}

p {
    color: #404040;
    font-family: Georgia, Garamond, serif;
    font-size: 11pt;
}

a {
    color: rgb(164,164,0);
    font-family: Georgia, Garamond, serif;
    font-size: 11pt;
}

.bottomLine {
  border-bottom: 1px solid gray;
  padding-bottom: 5px;
}

.quotes {
    color: #404040;
    background-color: rgb(255,255,168);
    font-size: 11pt;
    font-style: italic;
    margin-left: 1cm;
    margin-right: 1cm;
    margin-bottom: 0.5cm;
}

#copyright {
    color: #404040;
    font-family: monospace;
    text-align: right;
    float: left;
}

#copyrightText {
    font-family: monospace;
}

#CSSbuttons {
    clear: left;
}

</style>
</head>
</body>
</html>
