<!DOCTYPE html>
<html>
<head>
<style>

body {
    background-color: white;
}

h1 {
    color: rgb(164,164,0);
    background-color: rgb(240,240,240);
    text-align: center;
    text-decoration: underline;
    font-family: "Lucida Sans Unicode", "Helvetica", "Arial", sans-serif;
    font-size: 22pt;
    font-weight: bold;
}

h2 {
    color: rgb(164,164,0);
    background-color: rgb(240,240,240);
    text-align: left;
    text-decoration: underline;
    font-family: "Lucida Sans Unicode", "Helvetica", "Arial", sans-serif;
    font-size: 18pt;
}

p {
    color: #404040;
    font-family: "Georgia", "Garamond", serif;
    font-size: 11pt;
}

a {
    color: rgb(164,164,0);
}

.quotes {
    color: #404040;
    background-color: rgb(255,255,168);
    font-size: 11pt;
    font-style: italic;
    margin-left: 1cm;
    margin-right: 1cm;
    margin-bottom: 0.5cm;
}

#copyright {
    color: #404040;
    font: monospace;
    text-align: right;
    float: left;
    border: 0;
    padding: 0;
    margin: 0;
}

</style>
</head>
<body>

<h1>My First CSS Example</h1>
<p>This is a paragraph.</p>

</body>
</html>
